{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <H1>My home page</H1>
                <p>Some content here</p>

                <p>
                    <img src="/static/images/HOUSE.jpg" alt="house">
                </p>
            </div>
        </div>
    </div>
{{end}}